.env
credentials.json
.terraform*
terraform.tfstate*
tmp/
# Ignore profiles
tfenv.active
tfbackend.tf
deployment_context.tfvars
**/.DS_Store
tfbackend.tf.bak


.DS_Store
/platform-etl-openfda-faers.iml
/.idea
/input/
/output/
/tmp
project/metals.sbt
.vscode/
.bloop/
project/.bloop/
.metals/
.ammonite/
metals.sbt
tmp/.sbtopts
.jvmopts
*.out
*.log
