<clickhouse>
    <s3>
        <endpoint-name>
            <endpoint>${GCS_BATH_PATH}</endpoint>
            <access_key_id>${ACCESS_KEY}</access_key_id>
            <secret_access_key>${SECRET_KEY}</secret_access_key>
        </endpoint-name>
    </s3>
</clickhouse>